# Based on http://conda.pydata.org/docs/travis.html
language: python
sudo: false # use container based build
notifications:
    email: false

python:
  - 3.6

before_install:
  - sudo apt-get update
  - sudo apt-get install libnetcdf-dev
  - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no --set show_channel_urls true
  - conda update -q conda
  - conda info -a
  - conda update --all

install:
  - conda env create --file ci/requirements-py36.yml
  - source activate test_env
  - conda install pip
  - conda update --all
  - cdo -V
  - type -p cdo
  - python --version
  - conda list
  - pwd
  - ls
  - which conda
  - which python
  - conda list | grep python
  - conda list | grep cdo
  - which -a cdo
  - python setup.py install --user
  - pip list | grep pymistral
  - pip list | grep cdo

script:
- pytest
